/* assets/css/about.css */
.content-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  height: 100%;
}

.about-text {
  flex: 2;
  overflow-y: auto;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 300px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.resume-button {
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .content-section {
    flex-direction: column;
    padding: 10px;
  }

  .about-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
    height: auto;
  }

  .about-text,
  .about-image {
    flex: 1;
  }

  .about-text {
    padding-right: 10px;
  }

  .about-image {
    max-width: 50%;
    margin-left: 10px;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .resume-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
  }

  .about-text,
  .about-image {
    flex: 1;
  }

  .about-text {
    font-size: 0.9rem;
    padding-right: 10px;
  }

  .about-image {
    max-width: 45%;
    margin-left: 10px;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
  }

  .resume-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
