/* projects.css */

@font-face {
  font-family: "Cyrivendell";
  src: url("../fonts/Cyrivendell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.projects-content {
  height: 100%;
  margin-top: 1vh;
  padding: 1vh;
  background-color: #52826c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
}

.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2a3b33;
  display: none;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden; /* Prevent scrolling on the entire container */
  z-index: 10;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  margin-bottom: 10px;
  background-color: #80bda0b3;
  border-radius: 10px;
}

.project-title {
  font-family: "Cyrivendell", sans-serif;
  font-size: 1em;
  margin: 0 0 0px 0;
  color: #ffffffea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-button {
  font-family: "Cyrivendell", sans-serif;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.838);
  cursor: pointer;
  background-color: #50836b;
  border: none;
  padding: 0 5px;
  margin-bottom: 2px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #1a2620b4;
}

.project-content {
  flex-grow: 1;
  overflow-y: hidden;
  color: white; /* Add this to ensure text is visible */
}

.project-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: calc(100% - 40px); /* Adjust for the header */
  overflow-y: hidden; /* Prevent scrolling on the container */
}

.project-info {
  overflow-y: hidden; /* Allow scrolling only in the info section if needed */
  padding-right: 10px; /* Add some padding for the scrollbar */
  background-color: #0000006a; /* Black background for the explanation text */
  border-radius: 10px;
  padding: 15px;
}
.project-info,
.project-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow scrolling in the media section if needed */
}

.project-description {
  font-size: 1.7vh;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #ffffff; /* Ensure text is white on black background */
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: auto;
}

.tech-item {
  background-color: #52826c;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 0.5em;
  color: #ffffff;
}

.project-media {
  gap: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.project-media img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.image-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.image-container img {
  width: calc(50% - 5px);
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.blue-text {
  color: #add8e6;
}
.red-text {
  color: #ffb6c1;
}
.yellow-text {
  color: #ffffbe;
}
.green-text {
  color: #a9eda9;
}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project-details {
    padding: 10px;
  }

  .project-header {
    padding: 0px;
    margin-bottom: 5px;
    height: 25px; /* Thinner header */
  }

  .project-title {
    font-size: 0.8em;
    margin-left: 10px;
    text-shadow: none;
  }

  .close-button {
    font-size: 0.8em;
    padding: 0 3px;
  }

  .project-container {
    flex-direction: column;
    gap: 10px;
    height: calc(100% - 35px); /* Adjust for thinner header */
    overflow: hidden;
  }

  .project-media {
    order: 1;
    width: 100%;
    flex-shrink: 0;
    overflow-y: hidden;
  }

  .video-container {
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    position: relative;
    margin-bottom: 3px;
    overflow-y: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image-container {
    display: none; /* Hide additional images on mobile */
  }

  .project-info {
    order: 2;
    width: 100%;
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 0;
  }

  .project-description {
    font-size: 0.45em;
    margin-bottom: 4px;
  }

  .tech-stack {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .tech-item {
    font-size: 0.3em;
    padding: 3px 3px;
    margin-right: 1px;
    margin-bottom: 2px;
  }
}
