/* Base styles */
.recs-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px); /* Use 100% of the available height */
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgba(80, 131, 107, 0.8);
  border-radius: 10px;
  overflow-y: auto;
}
.recs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rec-item {
  display: flex;
  background-color: #2a3b33;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.rec-image {
  width: 60%;
  height: auto;
}
.rec-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.rec-text {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.rec-text h2 {
  color: #ffffff;
  margin-top: -2vh;
  margin-bottom: 2px;
  font-size: 1em;
}
.rec-title {
  font-size: 0.7em;
  color: #eeeeee;
  margin-bottom: 2px;
}

.rec-body-container {
  background-color: #2a3b33;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}
.rec-body {
  font-size: 0.25em;
  line-height: 1.1;
  color: #ffffff;
  margin: 0;
}
.rec-body .blue-text {
  color: #add8e6 !important;
}
.rec-body .red-text {
  color: #ffb6c1 !important;
}
.rec-body .yellow-text {
  color: #ffffbe !important;
}
.rec-body .green-text {
  color: #a9eda9 !important;
}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
  .recs-content {
    padding: 5px;
  }
  .rec-item {
    flex-direction: row;
    align-items: flex-start;
    font-size: 0.8em;
    max-height: 30vh;
  }
  .rec-image {
    flex: 0 0 80px;
    height: 80px;
    margin-right: 10px;
  }
  .rec-text {
    padding: 5px;
    flex: 1;
  }
  .rec-text h2 {
    font-size: 0.9em;
    padding: 2px;
    margin-top: 5px;
  }
  .rec-title {
    font-size: 0em;
    margin-bottom: 0px;
  }
  .rec-date {
    font-size: 0em;
    margin-bottom: 0px;
  }
  .rec-body-container {
    padding: 5px;
  }
  .rec-body {
    font-size: 0.7em;
    line-height: 1.3;
  }
}

/* Responsive font sizing for larger screens */
@media (min-width: 1200px) {
  .recs-content {
    font-size: calc(12px + 0.1vw);
  }
  .rec-item {
    max-height: none; /* Remove max-height constraint for larger screens */
    min-height: 25vh;
  }
  .rec-image {
    flex: 0 0 20%; /* Adjust image size for larger screens */
    max-width: 150px;
  }
  .rec-text h2 {
    font-size: 1.1em;
  }
  .rec-title,
  .rec-date {
    font-size: 0.8em;
  }
  .rec-body {
    font-size: 0.85em;
  }
}

/* Ultrawide screen adjustments */
@media (min-width: 2000px) {
  .recs-container {
    max-width: 1800px;
    margin: 0 auto;
  }
  .rec-item {
    max-width: 1600px; /* Limit width on very large screens */
    margin: 0 auto;
    min-height: 33vh;
  }
  .rec-image {
    flex: 0 0 30%; /* Further adjust image size for ultrawide screens */
    max-width: 180px;
  }
  .rec-text h2 {
    font-size: 1.2em;
  }
  .rec-title,
  .rec-date {
    font-size: 0.9em;
  }
  .rec-body {
    font-size: 1.5em;
  }
}
