/* Base styles */
.recs-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1vh;
  margin-top: 1vh;
  font-family: "IBM Plex Mono", monospace;
  background-color: rgba(80, 131, 107, 0.8);
  border-radius: 10px;
  overflow-y: hidden;
}

.recs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding-right: 10px;
  flex-grow: 1;
}

.rec-item {
  display: flex;
  background-color: #2a3b33;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 25vh;
}
/* Specific style for Katie's recommendation */
.rec-item:nth-child(2) {
  min-height: 17vh;
}

.rec-image {
  width: 100px;
  height: 200%; /* Changed from fixed height */
  max-height: 25vh; /* Match max-height of rec-item */
  flex-shrink: 0;
}

.rec-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rec-image-link {
  position: relative;
  display: block;
}

.linkedin-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 181, 0.7); /* LinkedIn blue with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rec-image-link:hover .linkedin-overlay {
  opacity: 1;
}

.linkedin-icon {
  width: 50%;
  height: 50%;
  fill: white;
}

.rec-text {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rec-text h2 {
  color: #ffffff;
  margin: 0 0 5px 0;
  font-size: 1.2em;
}

.rec-title {
  font-size: 0.6em;
  color: #eeeeee;
  margin-bottom: 1vh;
}

.rec-body-container {
  overflow-y: auto;
  flex-grow: 1;
}

.rec-body {
  /* font-size: 0.6em; */
  font-size: 0.66vw;
  line-height: 1.4;
  color: #ffffff;
  margin: 0;
}
.rec-body .blue-text {
  color: #add8e6 !important;
}
.rec-body .red-text {
  color: #ffb6c1 !important;
}
.rec-body .yellow-text {
  color: #ffffbe !important;
}
.rec-body .green-text {
  color: #a9eda9 !important;
}

/* Responsive layout for mobile devices */
@media (max-width: 768px) {
  .rec-item {
    flex-direction: row; /* Changed back to row for mobile */
    align-items: flex-start; /* Align items to the top */
    -ms-overflow-style: auto;
    min-height: 26vh;
  }

  .rec-image {
    width: 80px; /* Fixed width for mobile */
    height: 250px;
    border-radius: 5px;
    max-height: 26vh;
    margin-right: 4px; /* Add some space between image and text */
  }

  .rec-text {
    padding: 2px;
  }

  .rec-text h2 {
    font-size: 0.6em;
    height: 100%;
  }

  .rec-title {
    font-size: 0em;
    margin-bottom: 0px;
  }

  .rec-body {
    font-size: 7px;
    padding-top: 5px;
  }
}
